<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Registration</h1>

<div th:text="${exist}"></div>

<form th:action="@{/saveUser}" method="post" th:object="${user}">
    <input type="text" th:field="*{username}" placeholder="username">
    <input type="password" th:field="*{password}" placeholder="password">
    <input type="email" th:field="*{emails}" placeholder="enter your email">
    <input type="submit" value="press me!">
</form>


</body>
</html>
